// Place all the styles related to the board__messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page { padding:10px; }
.first { padding:10px; }
.prev { padding:10px; }
.next { padding:10px; }
.last { padding:10px; }
