body {
  color: darkgray; font-size: 14pt;
  margin: 10px 20px;
}
#header { }
#main {
  width: 75%; float: left;
}
#side {
  width: 20%; float: right;
}
a {
  color: darkgray;
  text-decoration: none;
}
a:hover {
  color: darkgray;
  text-decoration: underline;
}