<!DOCTYPE html>
<html>
  <head>
    <title>Board Messages</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <%= stylesheet_link_tag 'board_messages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'board_messages', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <%= yield %>
    <div class="mt-5 text-center small text-scondary border-top border-scondary">
    2020 SYODA-Tuyano.
    </div>
  </body>
</html>
