<h1 class="display-4 text-primary">Blogconfigs#index</h1>
<p>※ブログの設定内容</p>
<table class="table">
  <tr><th>Title</th>
    <td><%= @blogconfig.title %></td>
  </tr>
  <tr><th>Subtitle</th>
    <td><%= @blogconfig.subtitle %></td>
  </tr>
  <tr><th>Style Name</th>
    <td><%= @blogconfig.stylename %></td>
  </tr>

</table>
<p><a href="/blogconfigs/edit">編集画面＞＞</a></p>
