<!DOCTYPE html>
<html>
<head>
    <title>Cards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <style>
    h1 { margin:25px 0px; }
    p { margin: 25px 0px; }
    </style>
</head>

<body class="container">
    <%= yield %>
</body>
</html>