<!DOCTYPE html>
<html>
<head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
</head>

<body class="container text-body">
    <h1 class="mt-4 display-4 text-primary">MsgBoard</h1>
    <%= yield %>
    <div class="mt-4 text-center small text-dark border-topp border-dark">
    copyright SYODA-Tuyano. 2020</div>
</body>
</html>