<!DOCTYPE html>
<html>
    <head>
        <title>Q&A</title>
        <%= csrf_meta_tags %>
        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
        <%= stylesheet_link_tag 'Q&A', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="container">
        <%= yield %>
    </body>
</html>