<h1 class="display-4 text-primary">Bloggenres#index</h1>
<p>※ジャンル・データの一覧</p>
<table class="table">
  <tr>
    <th>Id</th><th>name</th><th>memo</th><th></th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= obj.name %></td>
    <td><%= obj.memo %></td>
    <td><a href="/bloggenres/<%= obj.id %>">Edit</a></td>
  </tr>
  <% end %>

</table>
<p><a href="/bloggenres/add">新規作成＞＞</a></p>
